.top-container{
    background-color: rgb(136, 184, 204);
    position:relative;
    padding: 100px 0 40px;
}
.top-cloud{
    position: absolute;
    right: 10%;
    top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 100px;
    bottom: 300px;
}
.title-text{
    padding-left: 40%;
}
h1{
    color: black;
    font-size: 3rem;
    margin-top: 80px;
    font-family:'Caveat', cursive;
}
h2{
    color: rgb(93, 28, 131);
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    padding-left: 70px;
}
.mountain{
    position: relative;
    left: 450px;
}


.middle-container{
    background-color: rgb(128, 186, 167);
    padding-bottom: 10px;
}
.middle-image{
    margin: 30px;
    margin-left: 45%;
}
hr{
    border: dotted blue 6px;
    border-bottom: none;
}
#hh{
    margin-left:39rem;
}
.middle-image2{
    float:right;
    margin: 40px 10px;
}
.bottom-image{
    float:left;
    margin:0 10px 0 10px;
}
p{
    line-height: 25px;
    margin:-8px 10px 0 10px;
}
h3{
    margin-left: 10px;
}
.button{
    padding-left: 40%;
}